<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/116511190?s=400&u=e0aa3a57a50095e7d43eed30fce33d726f1fb4fa&v=4">
</head>
<body>
    <form action="/chat" method="get">
        <input type="text" name="username" id="username" >
        <br/>
        <br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>